<h2>Now your result</h2>
<p><%= @grid %></p>

<p>Your word: <%= @your_word %>
<br>Time Taken to answer: <%= @result[:time] %>
<br>Translation: <%= @result[:translation] %>
<br>Your score: <%= @result[:score] %>
<br>Message: <%= @result[:message] %>
</p>
